---
// @ts-nocheck
import Lorem from "../components/Lorem.astro";
import { CalcAdd } from "../components/Test.js";
import { Counter } from "../components/Counter.js";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>Demo</title>
    </head>
    <body>
        <h1>Test app</h1>
        <Counter client:load />
        <CalcAdd num={33} />
        <Lorem />
    </body>
</html>
